@using Microsoft.AspNetCore.Components.Forms
@inherits Field<TModel, string>
@typeparam TModel

@{ 
    base.BuildRenderTree(__builder);
}

@code {
    protected override RenderFragment ChildContent => __builder =>
    {
        <label class="form-label" for="@PropertyName"> @Label</label>
        <InputText id="@PropertyName" class="form-control" placeholder="@Placeholder" Value="@Value" ValueChanged="Set"
            ValueExpression="GetValueExpression()" />
    };
}


